
.txt-nav{
  font-family: 'Lobster', serif;
  font-size: 50px;
  font-weight: 100;
}

a:hover {
  color: white;
}

.n-bar {
  margin-bottom: 10px;
}
.bg-canvas {
  background-color: #FFECD3;
}
.hd-bg-color {
  background-color: transparent;
}
.hd-color {
  color: white;
}
/* .img-itms:hover {
  transform: scale(150%);
  cursor: pointer;
} */

.img-slider:hover {
  transform: scale(140%);
  cursor:zoom-in;
}

.d-block {
  height: 400px;
  width: 300px;
}

.descr {
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
}

.descr-2 {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  padding-top: 100px;
  padding-left: 70px;
}

.descr-menu {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  color: black;
}

.menu-side:hover {
  transform:scale(105%)
}

ul {
  list-style-type: none;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

/* .btn-align {
  margin: 0;
    position: absolute;
    top: 104.5%;
    left: 22.7%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */
.btn-pers {
  margin-top: 38px;
}
.container-blur {
  position: relative;
  height: 30vh;
  width: 100%;
  background: #FFECD3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.word {
  max-width: 100%;
  letter-spacing: 5px;
  font-size: 5rem;
  position: absolute;
  color: black;
  animation: word 12s infinite ease-in-out;
}
.word:nth-child(1){
  animation-delay: -10s;
}
.word:nth-child(2){
  animation-delay: -7s;
}
.word:nth-child(3){
  animation-delay: -4s;
}
.word:nth-child(4){
  animation-delay: -1s;
}
@keyframes word {
  0%, 5%, 100%{
    filter: blur(0px);
  }
  20%, 80% {
    filter: blur(0px);
    opacity:0;
  }
}

/* CONTACTS */

.txt-area {
  margin-top: 30px;
}

.bluze {
  position: relative;
  height: 35%;
  width: 35%;
}
.bluze:hover {
  transform: scale(105%);
}
.bluze {
/* transform:scale(105%); */
cursor: pointer;
animation-name: bluze-rotate;
animation-duration: 5s;
}

@keyframes bluze-rotate {
  0% {
    transform: rotateZ(0deg) scale(25%);

  }
  40% {
    transform: rotateZ(50deg) scale(50%);
   }
  80% {
    transform: rotateZ(-50deg) scale(75%);
  }
  100% {
    transform: rotateZ(0deg) scale(100%);
  }
}

.by-gigi {
  font-family: 'Dancing Script', cursive;
  font-size: 1em;
}
.telefon {
  font-family: 'Dancing Script', cursive;
  font-size: 1.3em;
}
.btn-dergo {
  font-family: 'Lobster', cursive;
  font-size: 1.3em;
}
.btn-home {
  margin-top: 10px;
}
.btn-color {
  color: white;
}
.btn-color:hover {
  color:white;
}

/* GALLERY */
.home {
  margin-top: 20%;
}
.home-styles {
  font-family: 'Lobster', cursive;
  font-size: 1.3em;
  color: white;
}

/*.row-1, .row-2 {
  background-color: blue;
  height: 100px;
}

.container {
  display: flex;
  background-color: blue;
  height: 600px;
}*/

.thumb {
  height:95%;
  width: 90%;
  opacity:1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.contenitore-text {
  transition: .5s ease;
    opacity:0;
    /* position: absolute; */
    /* top: 100%;
    left: 100%; */
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.txt-align {
  position: relative;
  top: 20%;
  left: 25%;
  bottom:20%;
}
.img-col:hover .contenitore-text {
  opacity: 100%;
  cursor: pointer;
}
.img-col:hover {
  opacity:0.5;
  /*transform: scale(120%);*/
  cursor: pointer;
}
/*.img-col:hover .thumb {
  background-color:grey;
}*/

.text-img {
  opacity:1;
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* ANIMATIONS ON GALLERY IMAGES */
/* ROW 1 */
.first-r1 {
  animation-name: first-r1;
  animation-duration: 2s;
  animation-delay: 0s;

}
@keyframes first-r1 {
0% {
  opacity: 0.1;
  transform: rotateY(-90deg);
  filter:blur(6px);
}
100% {
  opacity: 1;
  transform: rotateY(0deg);
  filter:blur(0px);
}
}

.second-r1 {
  animation-name: second-r1;
  animation-duration: 2s;
  animation-delay: 0.1s;
}
@keyframes second-r1 {
0% {
  opacity: 0.1;
  transform: rotateY(-90deg);
  filter:blur(6px);
}
100% {
  opacity: 1;
  transform: rotateY(0deg);
  filter:blur(0px);
}
}

.third-r1 {
  animation-name: third-r1;
  animation-duration: 2s;
  animation-delay: 0.2s;
}
@keyframes third-r1 {
0% {
  opacity: 0.1;
  transform: rotateY(-90deg);
  filter:blur(6px);
}
100% {
  opacity: 1;
  transform: rotateY(0deg);
  filter:blur(0px);
}
}

.fourth-r1 {
  animation-name: fourth-r1;
  animation-duration: 2s;
  animation-delay: 0.3s;
}
@keyframes fourth-r1 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);
    }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);
    }
}

/* ROW 2 */
.first-r2 {
  animation-name: first-r2;
  animation-duration: 2s;
  animation-delay: 0.4s;

}
@keyframes first-r2 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);
  }
}

.second-r2 {
  animation-name: second-r2;
  animation-duration: 2s;
  animation-delay: 0.5s;
}
@keyframes second-r2 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);
  }
}

.third-r2 {
  animation-name: third-r2;
  animation-duration: 2s;
  animation-delay: 0.6s;
}
@keyframes third-r2 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);
  }
}

.fourth-r2 {
  animation-name: fourth-r2;
  animation-duration: 2s;
  animation-delay: 0.7s;
}
@keyframes fourth-r2 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);
  }
}

/* ROW 3 */
.first-r3 {
  animation-name: first-r3;
  animation-duration: 2s;
  animation-delay: 0.8s;
}
@keyframes first-r3 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);
  }
}

.second-r3 {
  animation-name: second-r3;
  animation-duration: 2s;
  animation-delay: 0.9s;
}
@keyframes second-r3 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);
  }
}

.third-r3 {
  animation-name: third-r3;
  animation-duration: 2s;
  animation-delay: 1s;
}
@keyframes third-r3 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);

  }
}

.fourth-r3 {
  animation-name: fourth-r3;
  animation-duration: 2s;
  animation-delay: 1.1s;
}
@keyframes fourth-r3 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);

  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);

  }
}
/* ROW 4 */
.first-r4 {
  animation-name: first-r4;
  animation-duration: 2s;
  animation-delay: 1.2s;
}
@keyframes first-r4 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);

  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);

  }
}

.second-r4 {
  animation-name: second-r4;
  animation-duration: 2s;
  animation-delay: 1.3s;
}
@keyframes second-r4 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);

  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);

  }
}

.third-r4 {
  animation-name: third-r4;
  animation-duration: 2s;
  animation-delay: 1.4s;
}
@keyframes third-r4 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);

  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);

  }
}

.fourth-r4 {
  animation-name: fourth-r4;
  animation-duration: 2s;
  animation-delay: 1.5s;
}
@keyframes fourth-r4 {
  0% {
    opacity: 0.1;
    transform: rotateY(-90deg);
    filter:blur(6px);

  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0px);

  }
}
